<mat-toolbar class="toolbar" >
    <mat-toolbar-row>
        <span>Logo</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list class="mainlist">
            <a mat-list-item class="list-item">Kitchen</a>
            <a mat-list-item class="list-item">Delevery</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content"></div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

