<div>
    <div class="vl"></div>
    <div class="order">
        <ul>
            <li class="content mat-elevation-z4">
                <a href="#">
                    <h2>Title #1</h2>
                    <p>Text Content #1</p>
                </a>
            </li>
            <li class="content mat-elevation-z4">
                <a href="#">
                    <h2>Title #1</h2>
                    <p>Text Content #1</p>
                </a>
            </li> 
        </ul>
    </div>
</div>