
.form-container{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 98px;
    background: #eceff1;
    padding: 48px;
}

.form-group{
    border: 1rem;
}

body{
    height: 100vh;
    background-color: #e0e0de; 
}

.image{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 16px;
}

form{
    margin-left:128px;
}

span{
    margin-left: 16px;
}

mat-toolbar{
    justify-content: space-between;
}
