<body>

    <mat-toolbar class="toolbar mat-elevation-z4">
        <span class="title">Welcome -> SignUp</span>
    </mat-toolbar>

    <div class="form-container">
        <img class="image" src="assets\LogoTipoFiveMeals-01.png" alt="">
        <form>
            <h1>SignUp!</h1>
            <div class="form-group">
                <label for="username">Username:</label>
                <br>
                <input id="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label for="email">Email:</label>
                <br>
                <input id="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label for="password">Password:</label>
                <br>
                <input id="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label for="confirmPassword">Confirm Password:</label>
                <br>
                <input id="confirmPassword" type="password" class="form-control">
            </div>
            <br>
            <button mat-raised-button color="primary" routerLink="/main">Submit</button>
            <span>Already have an Account? <a routerLink="/login">login</a></span>
        </form>
    </div>

</body>