.vl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid black;
  height: calc(100vh - 98px);
}

body {
  margin: 20px auto;
  font-family: 'Lato';
  background: #666;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

h4 {
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
}

img{

  display: flex;
  
  border-radius: 16px;
  margin: auto;
  height: 200px;
  width: 70%;
  border: 6px solid #ddd;
  object-fit: fill;
}

button{
  display: flex;
  margin: auto;
  margin-top: 16px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 16px;
}

p {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

ul li .post {
  text-decoration: none;
  color: #000;
  background: #eceff1;
  display: block;
  width: calc(80vh - 100px);
  padding: 1em;
  border-radius: 10px;
  place-items: center;
}

ul li {
  margin: 32px;
}

