/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.toolbar {
    background-color: #BBC310;
}

.title{
    margin-left: 3%;
}

.error{
    color: red;
}

.titulo{
  text-decoration: none;
  color: #000;
  background: #eceff1;
  display: block;
  padding: 1em;
  border-radius: 10px;
  place-items: center;
}
