.vl {
  border-radius: 10px;
  border-left: 5px solid rgb(65, 64, 64);
  height: 100vh;
}

mat-toolbar{
    justify-content: space-between;
}


.logout{
    position: absolute;
    left: 95%;
    transform: translateX(-50%);
    border-radius: 5px;
    height: 62px;
}

mat-sidenav {
    height: calc(100vh - 98px);
    margin: 16px;
    width: 10%;
    border-radius: 10px;

    display: flex;
}


button {
    background-color: #BBC310;
}


.menu-button {
    width: 100%;
    height: 49.7%;
    display: flex;
    align-items: center;
    font-size: 1rem;

}

.content {

    height: calc(100vh - 98px);
    width: 95%;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    font-size: 2rem;
    color: black;
    border-radius: 10px;
}


.box1{
    height: 100%;
    width: 50%;
}


.box2{
    height: 100%;
    width: 48%;
}
